{% extends "base.html" %} {%block title %} Home {% endblock %}

{% block content %}
<div class="row">
    <div class-="col">
        <h2>Welcome to SPF Trading</h2>
        <p>"SPF Trading is built upon three core concepts: Speed, Power, and Flow. Our investment strategy is designed to be quick and painless, enabling you to invest with ease. With Power, you can experience powerful long-term gains that surpass those of a typical savings account. Flow is our formula's ability to provide you with continuous use and future predictions, ensuring a seamless investment experience. Let us help you achieve your financial goals with our innovative approach to trading."</p>
        <p>At SPF Trading, we offer a professional service to create your own trading bot based on any technical or economic indicators of your choice. Our team of experienced developers and traders will work with you to build a custom bot that meets your specific needs.</p>
        <p>Our services include:</p>
        <ul>
            <li>Backtesting on historical data to assess the performance of your strategy</li>
            <li>Information on technical indicators</li>
            <li>Information on economic indicators</li>
        </ul>
        <p>Contact us today to learn more about our services</p>
    </div>
</div>
{% endblock %}